<div class="row">
    <div class="">
        <div ng-init="isMapOpen = true" ng-show="isMapOpen">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <div ng-repeat="stay in stays">
                    <ui-gmap-marker coords='{latitude: stay.field_destination[0].lat, longitude: stay.field_destination[0].lng }' options="stayMapOptions" events="" click="getStayDetails(stay.nid[0].value)" idkey="$index">
                    </ui-gmap-marker>
                </div>
            </ui-gmap-google-map>
        </div>
    </div>
    <div class="container">
        <a ng-href="#/itinerary" class="btn btn-link"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>Back to overview</a>
        <a class="btn btn-link" ng-click="deleteIntinerary(itinerary.nid[0].value)"><i class="zmdi zmdi-delete zmdi-hc-fw"></i>Delete</a>
        <a ng-show="!isMapOpen" class="btn btn-link pull-right" ng-click="isMapOpen = !isMapOpen">+ Show map</a>
        <a ng-show="isMapOpen" class="btn btn-link pull-right" ng-click="isMapOpen = !isMapOpen">- Hide map</a>
    </div>
    <div class="col-md-12">
        <div class="container card" ng-init="isStayFormOpen = false" ng-show="isStayFormOpen">
            <a ng-show="isStayFormOpen" class="btn btn-link pull-right" ng-click="isStayFormOpen = !isStayFormOpen">Hide</a>
            <form class="" ng-submit="insertStay()">
                <h3><label for="StayNAme">Name of the Hotel or place you are staying</label></h3>
                <div class="form-group form-inline">
                    <!-- <input type="text" ng-model="place" ng-change="getLocation(place)" class="form-control" id="stay" placeholder="Stay: Hotel / Place" style="width: 100%"> -->
                    <input type="text" class="form-control" gm-places-autocomplete ng-model="stayPlace" class="form-control" placeholder="Stay: Hotel / Place" style="width: 100%" />
                </div>
                <div class="form-group form-inline">
                    <input type="text" ng-model="price" class="form-control" id="price" placeholder="price">
                </div>
                <div class="form-group form-inline">
                    <label for="dateStart">Start Date</label>
                    <input type="date" name="dateStart" ng-model="dateStart" class="form-control" id="destination">
                    <label for="dateEnd">End Date</label>
                    <input type="date" name="dateEnd" ng-model="dateEnd" class="form-control" id="destination">
                    <button type="submit" class="btn btn-success">Add Stay</button>
                </div>
            </form>
        </div>
        <div class="container card" ng-init="isActivityFormOpen = false" ng-show="isActivityFormOpen">
            <a ng-show="isActivityFormOpen" class="btn btn-link pull-right" ng-click="isActivityFormOpen = !isActivityFormOpen">Hide</a>
            <form class="" ng-submit="insertActivity()">
                <h3><label for="ActivityName">Name of the activity</label></h3>
                <div class="form-group form-inline">
                    <!-- <input type="text" ng-model="place" ng-change="getLocation(place)" class="form-control" id="stay" placeholder="Stay: Hotel / Place" style="width: 100%"> -->
                    <input type="text" class="form-control" ng-model="activityTitle" class="form-control" placeholder="Activity description" style="width: 100%" />
                    <input type="text" class="form-control" gm-places-autocomplete ng-model="activityPlace" class="form-control" placeholder="Location" style="width: 100%" />
                    <label for="price">Details</label>
                    <textarea name="details" class="form-control" ng-model="activityBody" rows="10" placeholder="add details" style="width: 100%"></textarea>
                </div>
                <div class="form-group form-inline">
                    <input type="text" ng-model="price" class="form-control" id="price" placeholder="price">
                </div>
                <div class="form-group form-inline">
                    <label for="dateStart">Start Date</label>
                    <input type="date" name="dateStart" ng-model="dateStart" class="form-control" id="destination">
                    <label for="dateEnd">End Date</label>
                    <input type="date" name="dateEnd" ng-model="dateEnd" class="form-control" id="destination">
                    <button type="submit" class="btn btn-success">Add activity</button>
                </div>
            </form>
        </div>
        <div class="">
            <div>
                <div class="container">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="bp-title">
                                    <a ng-show="!isStayFormOpen" class="btn btn-link pull-right" ng-click="isStayFormOpen = !isStayFormOpen">Add a stay</a>
                                    <!--      <a ng-show="!isTravelFormOpen" class="btn btn-success btn-xs" ng-click="isTravelFormOpen = !isTravelFormOpen">Add a journey</a>
                                        <a ng-show="isTravelFormOpen" class="btn btn-danger btn-xs" ng-click="isTravelFormOpen = !isTravelFormOpen">Hide journey form</a> -->
                                    <a ng-show="!isActivityFormOpen" class="btn btn-link pull-right" ng-click="isActivityFormOpen = !isActivityFormOpen">Add a activity</a>
                                    <h1>
                                    {{itinerary.title[0].value}}
                                     <!-- <a href="#" editable-text="itinerary.title[0].value" onaftersave="retreiveLocation(itinerary.title[0].value)">{{ itinerary.title[0].value || "empty" }}</a> -->

                                                                   </h1>
                                </div>
                                <h3>
                                   <span class="label label-info">
                                    {{itinerary.field_date[0].value | date:'MMM'}}
                                    {{itinerary.field_date[0].value | date:'dd'}}
                                    {{itinerary.field_date[0].value | date:'y'}}
                                     -
                                    {{itinerary.field_end_date[0].value | date:'MMM'}}
                                    {{itinerary.field_end_date[0].value | date:'dd'}}
                                    {{itinerary.field_end_date[0].value | date:'y'}}

                                   </span>
                               </h3>
                                <h4>Total cost in CHF: {{getTotal()}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-12">
                        <div ng-repeat="stay in stays">
                            <div class="card">
                                <div class="card-header" ng-class="{ 'bgm-blue': stay.type[0].target_id == 'stay', 'bgm-green': stay.type[0].target_id == 'activity' }">
                                    <!-- <img src="img/widgets/preview.jpg" alt=""> -->
                                    <div class="bp-title">
                                        <h2>
                                        <a href="" class="pull-right" style="color: white" ng-click="deleteStay(stay.nid[0].value)">
                                            <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                                        </a>

                                        <i ng-if="stay.type[0].target_id == 'stay'" class="zmdi zmdi-hotel zmdi-hc-fw"></i>
                                        <i ng-if="stay.type[0].target_id == 'activity'" class="zmdi zmdi-flash zmdi-hc-fw"></i>
                                        {{stay.field_date[0].value | date:'MMM'}} {{stay.field_date[0].value | date:'dd'}} to {{stay.field_end_date[0].value | date:'MMM'}} {{stay.field_end_date[0].value | date:'dd'}}
                                    <small>{{stay.title[0].value}}</small>

                                    </h2>
                                    </div>
                                </div>
                                <div class="p-20">
                                    CHF {{stay.field_price[0].value}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
