<div class="container card">
    <div class="card-body">
        <h3>Add trip</h3>
        <form class="" ng-submit="insertIntinerary()">
            <label for="exampleInputEmail1">Name or destination for your next trip</label>
            <div class="form-group form-inline">
                <input type="text" class="form-control" gm-places-autocomplete ng-model="text" placeholder="Destination" style="width: 100%" required >
            </div>
            <div class="form-group form-inline">
                <label for="dateStart">Start Date</label>
                <input type="date" name="dateStart" ng-model="dateStart" ng-change="dateEnd = dateStart" class="form-control" id="destination" required>
                <label for="dateEnd">End Date</label>
                <input type="date" name="dateEnd" ng-model="dateEnd" class="form-control" id="destination" required>
                <button type="submit" class="btn btn-success">Add Destination</button>
            </div>
        </form>
    </div>
</div>
<div class="container card">
    <div ng-hide="!itineraries.length" class="listview">
        <div class="lv-header">
            <i class="zmdi zmdi-airplane zmdi-hc-fw"></i>Your trips
        </div>
        <div class="lv-body" ng-repeat="itinerary in itineraries">
            <a class="lv-item" ng-href="/#/itinerary/{{itinerary.nid[0].value}}">
                <div class="media">
                    <div class="pull-left">
                        <i class="zmdi zmdi-pin zmdi-hc-fw lead"></i>
                    </div>
                    <div class="media-body">
                        <div class="lv-title"> {{itinerary.title[0].value}}
                        </div>
                          <small class="lv-small">
                            <span class="label label-info">
                              {{itinerary.field_date[0].value | date:'MMM'}}
                              {{itinerary.field_date[0].value | date:'dd'}} -
                              {{itinerary.field_end_date[0].value | date:'MMM'}}
                              {{itinerary.field_end_date[0].value | date:'dd'}}
                            </span>
                          </small>
                        </div>
                </div>
                <!-- <a class="pull-right" ng-click="deleteIntinerary(itinerary.nid[0].value)"><i class="zmdi zmdi-airplane-off zmdi-hc-fw"></i></a> -->
            </a>
        </div>
        <div class="clearfix"></div>
        <span class="lv-footer" href=""></span>
    </div>
</div>
