<div class="jumbotron">
    <h1>Travel Bruh</h1>
    <p class="lead">
        <img src="/images/bigmarker.png" alt="I'm TravelBruh">
        <br> Explore like a pro.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/itinerary">Go!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="container">
  <div class="row marketing">
      <div class="col-md-12">
          <h4>Plan with confidence</h4>
          <p>
              Create trips and plan your vacations including stays, activities and traveling.
          </p>
          <h4>Budget</h4>
          <p>
              Know what your trip will cost you and have an overview of your expenses.
          </p>
          <h4>Maps</h4>
          <p>Never get lost, your plan stored in a neat Google Map.</p>
      </div>
  </div>
</div>
